tensorboard
progress
yacs
tqdm
matplotlib
joblib
opencv-python
scikit-image
h5py
chumpy
pytube
trimesh
munch
numba
filterpy
yolov3@git+https://github.com/mkocabas/yolov3-pytorch.git@d7192c9f6cec43f7db4bd91186b2c0401eafd5a6
multi-person-tracker@git+https://github.com/mkocabas/multi-person-tracker.git@2803ac529dc77328f0f1ff6cd9d36041e57e7288
pyglet==1.5.26
pyrender==0.1.36
smplx==0.1.13
timm==0.6.5